/* 
  GENERAL 
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 70%;
  margin: 0 auto;
  max-width: 1200px;
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

section, footer{
  padding: 50px 0;
}

section:nth-child(even){
  background-color: #F6F6F6;
}



/* 
  UTILITIES 
*/
nav ul{
  text-align: center;
}

nav ul li{
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  text-transform: capitalize;
}

nav ul li a:hover{
  text-decoration: underline;
}

a{
  text-decoration: none;
  color: white;
}

.btn{
  padding: 8px 10px;
  border-radius: 20px;
  background-color: white;
  color: black;
}

.btn:hover{
  box-shadow: 0 3px 10px black;
  color: #404EED;
}


.btn.small{
  font-size: 12px;
}

.btn.big{
  font-size: 18px;
}

 

/* 
  HEADER 
*/
header{
  height: 70px;
  background-color: #3260E1;
  padding-top: 20px;
}

header .content-header img{
  float: left;
}

nav{
  width: 60%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
}

.content-header .btn.small{
  float: right;
}



/* 
  JUMBOTRON 
*/
.jumbotron{
  height: 450px;
  background-color: #3260A1;
  padding: 30px 0;
}

.content-jumbotron{
  height: 300px;
  background-color: white;
}


/* 
  MAIN 
*/
.container .content-left, .content-right{
  float: left;
  width: calc(100% / 2);
  height: 500px;
  background-color: darkblue;
  padding: 10px;
  /* margin: 20px; */
}


.container .content-top, .content-middle, .content-bottom{
  height: 150px;
  background-color: darkblue;
  padding: 10px 0;
  /* margin: 30px; */
}



/* 
  FOOTER 
*/
footer{
  background-color: #23272A;
}

footer section, aside{
  padding: 10px;
  background-color: darkblue;
  height: 500px;
}

footer section{
  float: left;
  width: 30%;
}

footer aside{
  float: left;
  width: calc((100% - 30%) / 4);
}

.footer-bottom{
  height: 70px;
  background-color: darkblue;
  margin-top: 20px;
}
